* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;   
}

table {
    background-color: lightgray;
    border: 1px solid #000;
}
.td1 {
    border-bottom: 1px solid #000;
    font-weight: 700;
}